<section id="projects">
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
    <dl>
	    <dt>Personal Goals</dt>
	    <dd>- Own a home</dd>
	    <dd>- Adopt a dog</dd>
	    <dd>- Adopt a cat</dd>
	    <dd>- Learn to dance</dd>
	    <dd>- Learn to ice skate</dd>
	    <dd>- Learn to play a fun instrument (Bango? Ukulele? Pan flute?)</dd>
	    <dd>- Live in a four season climate for at least a year</dd>
	    <dd>- Plant and harvest my own vegetable garden</dd>

	    <dt>Professional Goals</dt>
	    <dd>- Get a graduate degree</dd>
	    <dd>- Have a leadership position in my career</dd>
	    <dd>- First-author a research paper on a topic I find exciting</dd>

	    <dt>Travel/Adventure Goals</dt>
	    <dd>- Spend a consecutive year living abroad</dd>
	    <dd>- Do a swamp boat ride in the Southern US</dd>
	    <dd>- Do a solo backcountry through hike</dd>
	    <dd>- Go to the Brazilian Amazon</dd>
	    <dd>- Go top rope climbing outdoors</dd>
	    <dd>- See a polar bear in the wild</dd>
	    <dd>- See a manatee or dugong in the wild</dd>
	    <dd>- Do a long train trip in Canada with my grandma</dd>
	    <dd>- Take a trip with my brother without our parents</dd>
	    <dd>- Do a hiking trip in Switzerland</dd>
	    <dd>- Explore the Himalayas (Hike to Everest base camp?)</dd>

	    <dt>Completed goals</dt>
	    <dd>- Day hike to the summit of Mount Whitney (2016)</dd>
	    <dd>- Walk in a pack of alpacas/llamas in Peru (2016)</dd>
	    <dd>- Volunteer long-term with a student mentoring program (2018-2019)</dd>
	    <dd>- Get an undergraduate degree (2020)</dd>
	    <dd>- Build my own website (2022)</dd>
	    <dd>- Hike the Camino de Santiago in Spain (2022)</dd>
	    <dd>- Commit to donating 10% of my income to charity (2022) </dd>
	    <dd>- Reach an advanced level in a second language </dd>
		</dl>

    </div>
  </div>
</div>
</section>
