<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}"><i class="fa fa-home fa-lg"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}blog.html"><strong>BLOG</strong></a></li>
        <li><a href="{{ site.baseurl }}projects.html"><strong>PROJECTS</strong></a></li>
        <li><a href="https://drive.google.com/file/d/1ALfsGGNnhyZMvjqvoR1gXnXn_e92J9LH/view?usp=sharing"><strong>RESUME</strong></a></li>
      </ul>
    </div>
  </div>
</nav>
